html {
  height: 100%;
  width: 100%;
}

body {
    font-family: "Playfair Display", serif;
}
#welcome-section {
  height: 100vh;
    text-align: center;
    align-content: center;
    
}

h1 {
    margin-top: 250px;
    color: #ADD8E6;
    
}
#welcome-section p {
    background-color: #ADD8E6;
    color: #FFFFFF;
    margin: auto 300px;
    
    
}
h2 {
    color: #ADD8E6;
}
.class-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
img {
    width: 300px;
    height: 300px;
    margin: 0;
}
.project-title {
    
    
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ADD8E6; 
    color: #FFFFFF;
    padding: 0px;    
}
#navbar ul li a{
    color: #FFFFFF;
    text-decoration: none;
    font: bold;
}
ul {
    display: flex;
}
li {
    list-style: none;
    padding:10px
}
c

#contact {
    min-height: 100px;
    background-color: #ADD8E6;
    text-align: center;
    align-content: center;
    
}

#contact a {
    color: #FFFFFF;
    text-decoration: none;
}

@media (max-width: 400px) {
    body {
        background-color: #ADD8E6;
    }
}
