html {
  height: 100%;
  width: 100%;
}
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: beige;
  height: 100vh;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
    }

#navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #2DD881;
  width: 100%;
  height: 50px;
  margin: auto;
  color: whitesmoke;
}


#pt {
  display: flex;
  /* border: 2px solid blue; */
  justify-content: space-evenly;
} 

.project-tile {
  flex: 1;
  gap: 20px;
  /* border: 2px solid red; */
  background-color: beige;
  margin: 50px;
  border-radius: 10px;
}


img {
  width: 50%;
  display: block;
  margin: auto;
}

.project-tile p {
  text-align: center;
}

h2 {
  text-align: center;
}

figcaption {
  text-align: center;
  margin: 10px;
}

body {
  font-family: "Sanchez", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #4EA699;
}

#contact {
  text-align: center;
  height: 50px;
  background-color: #2DD881;
}

#contact p {
  padding: 15px;
}

@media (max-width: 500px) {
  .project-tile {
    display: block;
    background-color: aliceblue;
  }
}