body {
  background-color: #7bdb91;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3vh;
}

nav {
  position: fixed;
  top: 0px;
}

ul {
  display: flex;
  list-style-type: none;
  width: 100vw;
  background-color:  black;
}

li {
  margin-right: 20px;
}

a:link, a:visited {
  text-decoration: none;
  color: white;
}
#welcome-section {
  height: 70vh;
  text-align: center;
  align-items: center;
  padding-top: 30vh;
}

#projects {
   height: 50vh;
   text-align: center;

}
@media (max-width: 400px) {
  body {
    background-color: #c5dbc6;
  }
}

