html {
  height: 100%;
  width: 100%;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  width: 100%;
  background-color: turquoise;
}

#welcome-section {
  box-sizing: border-box;
  /* border: 3px solid red; */
  width: 100%;
  height: 100vh;
  color: #301934;
  font-size: 50px;
  text-align: center;
  align-content: center;
}

#projects {
  /* border: 2px solid blue; */
  border-top: 5px dotted #BF40BF;
  border-bottom: 5px dotted #BF40BF;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  text-align: center;
  padding-bottom: 20px;
}

#projects h2 {
  grid-column: span 2;
}

.project-tile {
  border: 2px solid orange;
  /* max-height: 100vh;
  max-width: 50vw;
  justify-content: center; */
  max-width: 1400px;
  max-height: 600px;
  margin: 0 auto;
  padding: 0px;
}

img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: scale-down;
  margin: 0px;
}

#contact {
  /* border: 2px solid green; */
  text-align: center;
  font-size: 25px;
}

#contact a:hover {
  color:white;
}

#navbar ul {
  list-style: none;
  padding:0px;
  display: flex;
  background-color: #BF40BF;
  gap: 16px;
  margin: 0px;
  justify-content: right;
}

#navbar a:hover {
  color: white;
}

#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  font-size: 25px;
}

.project-tile {
  color: #301934;
}

.project-tile:hover {
  background-color: orange;
}

@media (max-width: 600px) {
  #projects {
    display:block;
  }
  #navbar ul {
    justify-content: center;
  }
  
}