html {
  height: 100%;
  width: 100%;
}
body {
   font-family: "Poetsen One", sans-serif;
  background-color: rgb(227 209 186);
  margin: 0;
  
}
#welcome-section {
  box-sizing: border-box;
   min-height: 100vh;
  background: rgb(93,130,150);
  color: rgb(250, 250, 250);
  font-size: 2rem;
  text-align: center;
  height: 50px;
  padding: 30px;

}
#intro {
  color: rgb(230, 190, 158);
}
#projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 0 20px;
}

.project-tile {
border: 2px solid rgb(201,72,8);
  background-color: rgb(255 246 235);
  text-align: center;
}

.project-tile img {
  width: 100%;
  height: 100%;
  border: 2px dotted rgb(227 209 186);

}

#contact {
  background-color:  rgb(125, 110, 90);
  height: 40px;
  padding: 20px;
}

.project-tile p {
text-align: center;
  font-size: 1.5rem;
margin-top: -5px;
}

.project-tile2 {
  text-align: center;
}
#navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(201,72,8);
  gap: 16px;
  margin: 0px;
  height: 25px;
}

#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}

#projects h2 {
  grid-column: span 2;
   text-align: center;
  color: rgb(98,5,24);
  border-top: 1px solid rgb(0,0,0);
}

  a:hover {
    background-color: rgb(151, 194, 101);
}

@media (max-width: 500px) {
  #projects {
    background-color: pink;
    display: block;
  }
}